.Testimonial_container{
    width: 90%;
    height: 650px;
    margin: 20px;
}

.contenido{
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.single_testimonial1{
    background-image: url("../../public/Carrusel/1.gif");
    background-position: 270px;
    padding: 10px;
    color: white;
    margin: 0 auto;
    width: 100%;
}

.single_testimonial2{
    background-image: url("../../public/Carrusel/2.gif");
    background-position: 0px;
    padding: 10px;
    color: white;
    margin: 0 auto;
    width: 100%;
}



.single_testimonial3{
    
    justify-content: center;
    background-image: url(../../public/Carrusel/3.gif);
    background-size: 100%;
    background-position: 0px -280px;
    padding: 10px;
    color: white;
    margin: 0 auto;
    width: 100%;
}


.single_testimonial4{
    
    background-image: url(../../public/Carrusel/4.gif);
    background-size: 100%;
    background-position: 0px -180px;
    justify-content: center;
    padding: 10px;
    color: white;
    margin: 0 auto;
    width: 100%;
}