.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;
    flex-direction: row;
    background: rgb(217,184,184);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(228, 228, 228) 100%);
    position: sticky;
    top: 0; 
    z-index: 100;


    .left{
        img{
            margin-left: 60px;
            width: 10%;
        }
    }

    .rigth{


        Button{
            margin: 15px;
            background-color: rgb(138, 136, 136);
            color: white;
        }

        Button:hover{
            margin: 15px;
            background-color: rgb(170, 86, 86);
        }

        display: flex;
        justify-content: center;
        align-items: center;

        

        p{
            margin-right: 30px;
        }

 
    }
}